body {
    background-color: black;
}

a {
    text-decoration: none;
}

h2, h3 {
    color: antiquewhite;
}

h4, h5 {
    margin-bottom: 4px;
}

tr td span {
    margin-right: 5px;
    display: inline-block;
}

#tree {
    margin-top: 1%;
    margin-bottom: 1%;
}

.ranks {
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: antiquewhite;
    border: whitesmoke 1px solid;
}

.child {
    position: relative;
    margin-bottom: 2%;
}

.child span {
    top: 0;
    right: 12px;
    position: absolute;
}

.child a .overlay {
    top: 143px;
    height: 57px;
    padding: 0 1%;
    position: absolute;
    color: antiquewhite;
    background-color: rgba(47, 52, 53, 0.6);
}

.child a .json {
    position: absolute;
    color: antiquewhite;
    padding: 2px;
    background-color: black;
}

.child a img {
    object-fit: cover;
}

.thumb {
    cursor: pointer;
}

.EX, .EW, .CR, .EN, .VU, .NT, .LC, .DD, .CD {
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
}

.number {
    margin-right: 5px;
    padding: 5px 10px;
    display: inline-block;
    border: grey 1px solid;
}

.species {
    background-color: LightBlue;
}
.genus {
    background-color: LemonChiffon;
}

.family {
    background-color: LavenderBlush;
}

.order {
    background-color: Lavender;
}

.class {
    background-color: HoneyDew;
}

.phylum {
    background-color: PeachPuff;
}

.kingdom {
    background-color: PowderBlue;
}
.EX {
    color: red;
    background: black;
    border: red 1px solid;
}

.EW {
    color: white;
    background: black;
    border: white 1px solid;
}

.CR {
    background: Maroon;
    border: maroon 1px solid;
}

.EN {
    background: Coral;
    border: coral 1px solid;
}

.NT {
    background: darkgreen;
    border: darkgreen 1px solid;
}

.LC {
    background: DarkCyan;
    border: darkcyan 1px solid;
}

.VU {
    background: GoldenRod;
    border: goldenrod 1px solid;
}

.DD {
    color: black;
    background: #a2a9b1;
    border: grey 1px solid;
}

.CD {
    color: black;
    background: rgb(228, 211, 84);
}

img.tree {
    width: 20px;
    height: 15px;
    object-fit: cover;
}

table tr td {
    /*white-space: nowrap;*/
    vertical-align: middle;
}

table tr th {
    vertical-align: middle;
}

table#taxa tr td img {
    width: 98px;
    /*height: 68px;
    object-fit: cover;*/
}

#wikipedia a {
    color: rgb(21, 144, 251);
}

.mw-editsection {
    display: none;
}

div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}

table.noprint,
table.ambox {
    display: none;
}

.infobox {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
}

#wikipedia,
#wikipedia_ja,
#wikipedia_en,
#wikispecies {
    background-color: antiquewhite;
}